<!DOCTYPE html>
<html>

<% include partials/head.ejs %>


<body>
    <script>
        gtag('event', 'screen_view', {
            'screen_name': 'logs',
            'app_name': 'L3MON'
        });
    </script>
    <div class="ui container">
        <% include partials/header.ejs %>
        <div class="ui segment">
            <div class="logs">
                <% logs.forEach((log) => { %>
                <div class="logitm <%= log.type %>">
                    <%= new Date(log.time).toLocaleString('en-GB', { timeZone: 'UTC' }) %> =>
                    <%= log.type %> | <%= log.message %> </div>
                <% }) %>
            </div>
        </div>
    </div>
    <% include partials/footer.ejs %>
</body>

</html>