<div class="ui segment">
    <div class="ui statistics four">
        <div class="statistic"></div>
        <div class="statistic">
            <div class="text value">
                12:34<br>
                12/02/2019
            </div>
            <div class="label">
                First Seen
            </div>
        </div>
        <div class="statistic">
            <div class="text value">
                12:34<br>
                12/02/2019
            </div>
            <div class="label">
                Last Seen
            </div>
        </div>
        <div class="statistic"></div>
    </div>
</div>