<br>
<div class="ui secondary menu">
    <div class="header item"><img src="/logo.png" style="width: 100px"></div>
    <a href="/" class="item">
        <i class="icon mobile alternate"></i>&nbsp;&nbsp; Devices
    </a>

    <a href="/builder" class="item">
        <i class="icon wrench"></i>&nbsp;&nbsp; APK Builder
    </a>

    <a href="/logs" class="item">
        <i class="icon terminal"></i>&nbsp;&nbsp; Event Log
    </a>
    <div class="right menu">
        <a href="/logout" class="ui item">
            <i class="icon door"></i>&nbsp;&nbsp; Logout
        </a>
    </div>
</div>
<div class="ui divider"></div>
<br>