<head>
    <meta charset="UTF-8">
    <title>L3MON Manager</title>
    <link rel="stylesheet" href="/css/semantic.min.css" />
    <link rel="stylesheet" href="/css/snackbar.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/semantic.min.js"></script>
    <script src="/js/snackbar.min.js"></script>
    <script src="/js/main.js"></script>
</head>